node_modules
resources
lambda
serverless
.env
customers-1000000.csv
yarn.lock
temp.js
vendor-list.csv
vendor-list-2.csv
vendor-list-3.csv
admin
localTest.js
*.http
functions
.idea
temp
data

.DS_Store
